@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to S Interiors Home Page</h1>

    <img src="@ViewBag.ImageUrl" alt="Image from Azure Blob Storage" style="max-width: 25%; height: auto;" />
</div>
